@import "tailwindcss";

@theme {
  --color-primary: #ec1c24;
  --color-sidebar: #020d1c;

  --font-title: "Oswald", sans-serif;
  --font-body: "Inter", sans-serif;
}

:root {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  text-transform: uppercase;
}

/* iPad Optimization */
@layer base {

  button,
  [role="button"],
  input,
  select,
  textarea {
    min-height: 44px;
  }
}